#page{
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

#logo{
    width:120px;
    height: 100px;
}

.form{
    background-color: #dedede;
}

.formlabel, #input{
    background-color: #EBC098;
}

.formlabel{
    display: inline-block;
    border:1px solid #e7a76b;
    padding: 1px 1em 1px;
    width: 30%;
}

/* DARK MODE*/

body.dark .form{
    background-color: #353535;
}

body.dark .form label
{
    color:rgba(255, 255, 255, 0.658);
    background-color: #0D5949 ;
    border-color: #0a4135d8 ;
    color:white;
}

