#centre{
text-align: center;
}

#line1{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

#web, #app{
  color:#93C5FF;
  font-size: 22px;
  font-family: Palatino, URW Palladio L, serif;
}

hr{
  width: 80%;
}

a:link
{
 text-decoration:none;
}

.qcm{
  text-align: center;
  color:#EBC098;
	font-size:22px;
  border: solid;
  border-width:0.1px;
  border-color: grey;
  display : inline-block;
  width: 60%;
  }

#qcm{
  margin-left: 28%;
  margin-right: 28%;
}

#bvn{
  font-size: 23px;
}

a{
  color: black;
}

/*DARK MODE*/

body.dark h1
{
    background-color: #424242;
}

body.dark #web, body.dark #app{
  color:white;
}
