#bvn{
  text-align: center;
}

/* TODO: appliquer classe*/
#contact p{
  text-align: center;
  font-size: 18px;
}

#mail, #tel{
  margin-top: 2em;
  margin-bottom: 5em;
}

#mail img{
  left: 31%;
  position: relative;
}

#tel img{
  left: 30%;
  position: relative;
}

#email{
  position: relative;
  float: right;
  margin-right: 45%;
  margin-top: 30px;
}

#telephone{
  position: relative;
  float: right;
  margin-right: 49.7%;
  margin-top: 30px;
}