footer{
    background: #EFEFEF;
    color: #606060;
    overflow:auto;
    position:absolute;
    bottom: auto;
    width: 100%;

}

footer p, footer a{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

footer h6 {
    font-size: 15px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    margin-left: 3em;
    position: relative;
}

footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 40%;
    height: 1px;
    left: 0;
    bottom: -10px;
    text-decoration: none;

}

footer ul{
    list-style-type: none;
    margin-left: 4px;
}

footer a:hover {
    text-decoration: none;
    color: #949494 !important;
}

footer a{
    text-decoration: none;
    color:#606060;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.droite{
    float:left;
    width:33%;
    text-align: center;
    margin-top:2.5em;
    padding:0;
}

.droite a{
    margin-left: 5%;
    margin-right: 5%;
}
.trait{
    float:left;
    width:1%;
    margin-top:1.1em;
    padding:0;
    border-left: 1px solid #606060;
    height: 100px;
}

.milieu{
    float:left;
    width:32%;
    margin:0;
    padding:0;
}
.gauche{
    float:left;
    width:33%;
    margin:0;
    padding:0;
}

.copyright{
    float:left;
    text-align: center;
    width:100%;
    background-color: #d3d3d3;
    margin-right: 2em;
}

/* DARK */

.footer.dark{
    background-color: #2F2F2F;
    color:#3E9D89;
}

.footer.light
{
}
