#sommaire, #Cours{
    margin-left: 30%;
    margin-right: 30%;
}

#sommaire{
    font-size: 14px;
}

.m_Chapitre li a{
    text-decoration: none;
}

.m_Chapitre{ /* les UL */
    list-style-type :  disclosure-closed ;
    border: 1px solid rgba(19, 113, 201, 0.699);
    background-color: #93C5FF;
    display: block;
    margin-bottom: 0px;
    margin-top: 2px;
    width:60%;
}

.m_Section{ /* Les sous UL*/
    list-style-type :  disclosure-closed ;
}

#bvn{
    text-align: center;
    font-size: 27px;
    margin-bottom: 0;
  }

#abonnement{
      display: inline-block;
      margin: 1% 40% 1% 45%;
      width: 10%;
      text-align: center;
      background-color: #EBC098;
      border-color: #EBC098;
}

#titre{
  font-size: 20px;
  text-decoration: underline;
  width: auto;
  }

#apprendre p{
    font-size: 18px;
    margin-left: 10px;

}

#apprendre{
    margin-left: 27%;
    margin-right: 27%;
    background-color: #EBC098;
    text-align: left;
}

#progress{
    background-color: #EBC098;
    height: 7px;
    width: 0;
    position: fixed;
    top : 0;
    left : 0;
    z-index: 9999;
}

.footer{
    bottom: auto;
}

body.dark
{
    background-color: #424242  ;
    color:#3E9D89;

}

body.dark #progress{
    background-color: #93C5FF;
}

/* DARK MODE*/

body.dark
{
    background-color: #424242;
    color:#3E9D89;
    color:rgba(238, 235, 150, 0.698);
}

body.dark p{
  color:rgba(255, 255, 255, 0.658);
}

body.dark .form{
    background-color: #353535;
}

body.dark .form label
{
    color:black;
}

body.dark #apprendre
{
    background-color: #353535;
}

body.dark .addSection,.valider, .retour
{
    background-color: #5858585b;
    color:white;
}

body.dark #sommaire p, a, ul
{
    color: black;
}