.createCours h3{
    text-align: center;
}

#Cours{
    padding-top: 1em;
}

.Sommaire{
    margin-bottom: 2%;
}

.sectiontxt{
    border-radius: 4px;
}

input[value="X"][type="button"]:hover{
    background-color: rgb(248, 91, 91);
}

.apprendre{
    width: 88%;
    resize: none;
    margin-left: 5%;
    height: 75px;
}

.addChap {
    width:20%;
}

.valider, .retour{
    width: 10%;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid rgb(97, 97, 97);
    background-color: white;
}

.valider:hover, .retour:hover, .addSection:hover{
    background-color: rgb(206, 206, 206);
    transition: 500ms;
}

.addChap:hover{
    background-color: rgb(168, 188, 255);
    transition: 500ms;
}

.addChap{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color:rgb(190, 204, 252);
    padding: 5px 5px;
    margin-top: 1%;
}
  

.addSection{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 5px 5px;
    margin-bottom: 2%;
    margin-top: 2%;
}


#butt{
    text-align: center;
}

.sectiontxt{
    resize:none;
    width:100%;
    height:20em;
}

/*TODO appliquer classe*/
form{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

/**/
#sommaire, #Cours{
    margin-left: 30%;
    margin-right: 30%;
}

#sommaire{
    font-size: 14px;
}

.m_Chapitre li a{
    text-decoration: none;
}

.m_Chapitre{ /* les UL */
    list-style-type :  disclosure-closed ;
    border: 1px solid rgba(19, 113, 201, 0.699);
    background-color: #93C5FF;
    display: block;
    margin-bottom: 0px;
    margin-top: 2px;
    width:60%;
}

.m_Section{ /* Les sous UL*/
    list-style-type :  disclosure-closed ;
}

#bvn{
    text-align: center;
    font-size: 27px;
    margin-bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

#abonnement{
  left: 64%;
  position: relative;
  display: inline-block;
  margin-bottom: 2%;
  width: 7%;
  color: white;
  background-color: #EBC098;
  border-color: #EBC098;
  bottom: 30px;
}

#titre{
  font-size: 20px;
  text-decoration: underline;
  width: auto;
  }

#apprendre p{
    font-size: 18px;
    margin-left: 10px;

}

#apprendre{
    margin-left: 30%;
    margin-right: 30%;
    background-color: #EBC098;
    text-align: left;
    height: 150px;
}

#progress{
    background-color: #EBC098;
    height: 7px;
    width: 0;
    position: fixed;
    top : 0;
    left : 0;
    z-index: 9999;
}

.footer{
    margin-top: 2%;
    bottom: auto;
}

/* DARK MODE*/

body.dark .form{
    background-color: #353535;
}

body.dark .form label
{
    color:black;
}

body.dark #apprendre
{
    background-color: #353535;
}

body.dark .addSection,.valider, .retour
{
    background-color: #5858585b;
    color:white;
}

body.dark #sommaire p, a, ul
{
    color: black;
}