#corps{
    margin-top: 6%;
}

h2{
  text-align: center;
  font-size: 26px;
}

#ban{
  margin-left: 55.5%;
  font-size: 18px;
}

#supp{
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.listeUser{
  border-collapse: collapse;
  width: 30%;
  margin-left: 35%;
}

caption{
  font-size: 21px;
  margin-bottom: 20px;
}

#raisonBan{
margin-left: 51.7%;
}

label{
margin-left: 40%;
}

.listeUser td{
  padding-left: 5%;
  word-spacing: 10px;
  height: 30px;
  font-size: 17px;
  border: 1px solid grey;
}

.listeUser tr:hover{
  background-color: #ddd;
}

.listeUser tr{
  margin-left: 50px;
}

.listeUser .check{
    padding-left: 1px;
    width: 10px;
}
