#corps{
    margin-top: 6%;
}

h2{
  text-align: center;
  font-size: 26px;
}

#supp{
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 65%;
  color:#2F2F2F;
}

.listeUser{
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

#supp:hover{
color:#EBC098;
}

caption{
  font-size: 21px;
  margin-bottom: 20px;
  color: white;
}

#tabbut{
  background-color:#EBC098;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.listeUser td{
  padding-left: 5%;
  word-spacing: 10px;
  height: 30px;
  font-size: 17px;
  border: 1px solid grey;
}

.listeUser tr:hover{
  background-color: white;
}


.listeUser .check{
    padding-left: 1px;
    width: 10px;
}

footer{
  bottom: auto;
  position: relative !important;
}

/* DARK MODE */
body.dark
{
    background-color: #424242;
    color: rgba(238, 235, 150, 0.698);
}
body.dark .base-text p
{
    background-color: #333333;
    color:rgba(255, 255, 255, 0.534);
}

body.dark #tabbut{
    background-color:#333333;
}

body.dark #supp:hover{
color:#0D5949;
}

body.dark #supp{
color:#424242;
}

body.dark .listeUser tr:hover{
  background-color: grey;
}
