hr{
    width: 80%;
}

.footer{
    bottom: auto;
}

#profil, #cours, #moderation, #profiltitre{
    margin-right: 5%;
    margin-left: 5%;
}

#photoprofil{
    width:350px;
    height:200px;
}

#profil{
    margin-left: 24%;
    margin-right: 24%;
    display:grid;
    grid-template-columns: 0.1fr 0.9fr;
}

#pbox1{
    grid-column-start: 1;
}

#pbox2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    grid-column-start: 2;
    display:block;
}

.footer{
    bottom: auto;
}

#enregistrer, .mdp, #annuler, .file
{
    display: none;

}

label
{
    display: inline-block;
    width: 300px;
}

.box1
{
    width:150px;
    height:150px;
    padding:1em 1em 1em 1em;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.box2 {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box3{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.box4{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    vertical-align: text-top;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.cours{
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 30% 70%;
    border: 1px solid rgba(233, 233, 233, 0.205);
    box-shadow: 2px 2px 0px 0px rgba(221, 221, 221, 0.3);
}

.ajoutCours{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.mod{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

#add{
  width: 10em;
  margin-top: 10px;
  font-size: 17px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.cours:hover{
    background-color: #ececec4f;
}

/* DARK MODE */
body.dark
{
    background-color: #424242;
    color: rgba(238, 235, 150, 0.698);
}
body.dark .base-text p
{
    background-color: #333333;
    color:rgba(255, 255, 255, 0.534);
}

body.dark label, body.dark #mdp
{
    color:rgba(255, 255, 255, 0.534);
}

body.dark button{
    background-color: #0D5949;
	  color:rgba(255, 255, 255, 0.74); 
}
